## TE Connect CNN-LSTM Attempt

Author: Alexiy Buynitsky

In [18]:
import pandas as pd
from matplotlib import pyplot as plt
from pandas import DataFrame

df = pd.read_csv("te_ai_cup_sales_forecasting_data.csv")
print("num rows:", len(df))
print("num cols:", df.shape[1])
df["year_week_ordered"] = df['fiscal_year_historical'] + df['fiscal_week_historical']
df.sort_values(by=['fiscal_year_historical'] + ['fiscal_week_historical'], inplace=True)
df.reset_index(drop=True, inplace=True)
u_prod_code = df["product_line_code"].unique()
print(u_prod_code)
display(df.head())

num rows: 522698
num cols: 10
['E77' '053' '202' 'ABP' 'AC5' '607' 'AC6' '088' 'H98' 'DK4' 'N65' '372'
 'FG2' '251' '208' 'F49' 'H90' 'J67' 'J63' '073' '351' '050' 'K70' '301'
 'J37' 'A13' 'AQ9' '038' '025' '440' '481' '145' '230' 'K85' 'JB3' '547'
 '239' '912' '281' '231' 'LT0' '214' 'JF1' 'A28' '567' 'B91' '438' '430'
 'K00' 'J89' 'E31' 'Z27' '291' 'Z83' 'G60' '518' '472' 'F52' 'G59' '042'
 'N09' '323' '715' 'A05' '072' '397' '957' 'J25' '217' '014' '224' 'G49'
 '344' '207' 'AP2' '002' '529' '077' 'E82' '835' 'LV4' '728' '890' '032'
 '757' 'E79' '097' 'Z34' '057' 'F38' 'Z43' 'F83' 'F82' 'G74' 'AG7' '685'
 '977' '009' 'A92' '712' 'F50' '001' 'JH4' '402' '124' '023' '961' '313'
 'G61' 'F48' '056' 'G41' '232' '766' '519' 'J12' '243' 'LV1' '204' 'F41'
 '450' '516' 'W02' 'Z40' '080' '289' '036' '394' '150' 'JC1' 'J46' 'AH8'
 '046' 'F40' '716' 'G30' 'B77' 'JJ4' 'C19' 'DA8' 'K80' '327' 'E83' 'F46'
 '350' 'J45' '748' 'Z77' 'N73' '914' 'JE2' '085' 'JC3' '312' '127' 'J96'
 '760' '076' 'K18' 'N38' '144' '403' '405' '413' 'F34' 'N05' 'J04' 'JC2'
 '753' '521' 'G67' '240' '004' '318' 'K21' 'K01' '101' 'LR0' 'Z16' 'K09'
 'J35' 'B75' '238' '223' 'G65' '234' '103' '333' '215' '236' '827' '686'
 '814' 'F24' 'J09' '035' '252' '040' '024' 'Z23' '296' 'G83' 'Z33' '733'
 'C89' 'C04' '299' 'K71' 'E25' '584' '399' 'P17' '442' 'AK0' 'J10' '751'
 'H95' '398' 'K77' '039' '822' 'A60' '051' '267' '755' 'K78' 'LR5' 'E22'
 '377' '652' 'Z44' '250' 'J41' '043' 'A09' '979' '311' 'Z35' '956' 'A76'
 'G16' 'E32' 'W04' 'N06' '277' '253' '176' '096' 'AI4' 'K48' 'J30' 'F43'
 'K86' 'K74' 'N41' '148' '978' 'N99' 'A15' '390' 'F03' 'F44' '364' 'G85'
 '059' '915' 'AC7' 'JA9' '955' 'Z04' 'B79' '723' '210' 'J21' '237' 'Z45'
 'LR2' 'AC9' 'LS0' '984' 'JF9' 'K50' 'J24' 'BV4' '586' '048' '104' 'J42'
 'K88' '553' '012' 'JC8' 'C18' 'J93' '749' 'N03' 'DK1' 'Z54' 'N18' 'LV5'
 'J14' '003' 'Z75' 'J11' 'Z28' '907' '826' 'JE8' 'F33' 'JF5' 'LV3' 'K73'
 '750' 'B54' 'B90' 'K24' 'KA8' 'K79' 'Z92' 'H83' '341' 'Z78' 'F14' '517'
 '815' 'DK6' 'K05' '962' 'Z20' '884' 'K72' 'K13' 'C08' '326' '976' '343'
 'H82' '013' 'Z82' 'D51' 'N01' 'K31' 'W83' '022' 'JC5' 'LT1' 'F45' 'A87'
 '582' 'N02' '244' 'P23' 'F39' 'Z32' 'A94' '902' 'AA1' '913' 'G11' 'JC9'
 'A67' 'J71' 'JA1' 'E46' 'KA4' '731' 'Z24' 'K75' 'J83' '100' 'JD8' 'N17'
 '523' '015' 'J80' 'JB2' 'DJ5' '597' 'Z15' 'J23' '752' '525' 'G31' 'JB9'
 '034' '953' '973' 'AC8' 'Z81' '152' 'KA5' 'F35' '201' '758' '095' 'J03'
 'G12' 'G63' 'Z36' 'E84' 'A50' 'K42' 'JC4' 'JC6' 'DK2' '571' 'J44' 'F25'
 'N04' '471' 'E78' 'A52' 'G05' '274' 'DK3' 'A46' '094' 'LR1' 'AJ9' '706'
 '141' 'JD2' 'Z17' 'KB2' 'A39' '131' 'G06' '588' 'J43' '228' '113' 'E21'
 'Z29' '389' 'H96' '257' '526' 'LV7' 'Z72' '583' 'K03' 'JC0' 'H94' '429'
 'AI8' 'O34' '960' 'B81' '479' 'JD1' 'Z13' 'A07' 'JE3' '212' 'J97' 'K61'
 'A27' '284' 'G50' '746' 'G72' 'N20' 'F89' '213' 'A47' 'JE9' 'JE4' 'K04'
 'K97' '573' 'JB6' 'K76' '941' 'Z76' 'K65' 'Z30' 'AG6' 'A01' 'G81' '952'
 'DJ6' 'J31' 'DJ4' 'K81' 'JJ9' 'G64' 'G87' 'JK1' 'A20' 'A54' '940' 'AB4'
 '903' '060' 'LT6' 'LU4' 'LT7' '942' 'LV6' 'O27' 'AK1' 'JJ5' 'A64' 'AI7'
 '945' 'A55' 'J8A' 'AM4' 'P40' 'D49' 'AL8' 'AA3' 'AM0' 'AL6' 'AL9' 'AL0'
 'V45' '125' 'Z26' 'A63' '061' 'AP6' 'AM5' 'AD1' 'ABT' 'ABN' 'ABW' 'ABU'
 'ABR' 'ABO' 'ABY' 'ABX' 'ABS' 'B55' '062' 'Z39']

,fiscal_year_historical,fiscal_quarter_historical,fiscal_month_historical,fiscal_week_historical,business_unit_group_name,company_region_name_level_1,product_line_code,product_line_name,sales_quantity,sales_amount,year_week_ordered
0,2015,1,1,1,Energy,EMEA,E77,LV/MV Surge Arresters,1641.00,126789.47,2016
1,2015,1,1,1,Channel - Data and Devices,Asia Pacific & ANZ,053,Memory Sockets,14417.92,17379.52,2016
2,2015,1,1,1,Channel - Industrial,EMEA,202,PLASTI-GRIP Terminals,142820.40,19666.38,2016
3,2015,1,1,1,Industrial,Americas,ABP,Specific terminal blocks,14528.00,-12089.77,2016
4,2015,1,1,1,Data and Devices,EMEA,AC5,"Antennas, Custom Others",34400.00,30357.47,2016

## Splitting the Data based on Specific Paramters

In [29]:
def get_raw_data(filtered_df,business_unit_group_name=None,company_region_name_level1=None,product_line_code=None):

    if business_unit_group_name is not None:
        filtered_df = filtered_df[filtered_df['business_unit_group_name'] == business_unit_group_name]
    if company_region_name_level1 is not None:
        filtered_df = filtered_df[filtered_df['company_region_name_level_1'] == company_region_name_level1]
    if product_line_code is not None:
        filtered_df = filtered_df[filtered_df['product_line_code'] == product_line_code]

    if len(filtered_df)==0:
        raise Exception("ERROR: empty dataset")
    return filtered_df

#raw_df = get_raw_data(df,company_region_name_level1= "EMEA")
raw_df = get_raw_data(df)
display(raw_df.head())

,fiscal_year_historical,fiscal_quarter_historical,fiscal_month_historical,fiscal_week_historical,business_unit_group_name,company_region_name_level_1,product_line_code,product_line_name,sales_quantity,sales_amount,year_week_ordered
0,2015,1,1,1,Energy,EMEA,E77,LV/MV Surge Arresters,1641.00,126789.47,2016
1,2015,1,1,1,Channel - Data and Devices,Asia Pacific & ANZ,053,Memory Sockets,14417.92,17379.52,2016
2,2015,1,1,1,Channel - Industrial,EMEA,202,PLASTI-GRIP Terminals,142820.40,19666.38,2016
3,2015,1,1,1,Industrial,Americas,ABP,Specific terminal blocks,14528.00,-12089.77,2016
4,2015,1,1,1,Data and Devices,EMEA,AC5,"Antennas, Custom Others",34400.00,30357.47,2016

In [30]:
grouped_df = df.groupby("product_line_code")

In [31]:
for name, group in grouped_df:
    print(name)
    print(len(group))
    display(group.head())
    break

001
833

,fiscal_year_historical,fiscal_quarter_historical,fiscal_month_historical,fiscal_week_historical,business_unit_group_name,company_region_name_level_1,product_line_code,product_line_name,sales_quantity,sales_amount,year_week_ordered
108,2015,1,1,1,Channel - Industrial,Asia Pacific & ANZ,001,Miscellaneous AMPMODU,305278.80,33869.70,2016
1043,2015,1,1,1,Industrial,Asia Pacific & ANZ,001,Miscellaneous AMPMODU,513152.00,76599.06,2016
1299,2015,1,1,2,Channel - Industrial,Asia Pacific & ANZ,001,Miscellaneous AMPMODU,396862.44,44030.61,2017
2258,2015,1,1,2,Industrial,Asia Pacific & ANZ,001,Miscellaneous AMPMODU,179474.00,30120.36,2017
2484,2015,1,1,3,Channel - Industrial,Asia Pacific & ANZ,001,Miscellaneous AMPMODU,396862.44,44030.61,2018

## Preparing the Data for Training